# Directories to ignore (any location)
**/dist/
**/node_modules/
**/prismaclient/

# Backend specific
**/prisma/migrations/

# Frontend specific
**/public/

# Logs and env files
*.log
.env*

# Lock files
pnpm-lock.yaml

# media
**/backend/temp/
**/backend/media/
**/backend/src/test/